bibModelJanuszewski/Model/Authors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Authors">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Author">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedLong" use="required" />
            <xs:attribute name="lastName" type="xs:string" use="required" />
            <xs:attribute name="firstName" type="xs:string" use="required" />
            <xs:attribute name="year" type="xs:unsignedShort" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>