bibModelJanuszewski/Model/Books.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Ksiazki">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Ksiazka">
          <xs:complexType>
            <xs:attribute name="id" type="xs:unsignedLong" use="required" />
            <xs:attribute name="tytul" type="xs:string" use="required" />
            <xs:attribute name="idAutora" type="xs:string" use="required" />
            <xs:attribute name="ISBN" type="xs:string" use="required" />
            <xs:attribute name="cena" type="xs:float" use="required" />
            <xs:attribute name="idWydawnictwa" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>